In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

24/09/26 16:27:50 WARN Utils: Your hostname, abdul-basit-HP-ProBook-450-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 10.11.16.155 instead (on interface wlp0s20f3)
24/09/26 16:27:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/26 16:27:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.read.format("json")\
          .options("infer_schema", True)\
          .load("Basics/json_data.json")

TypeError: options() takes 1 positional argument but 3 were given

In [24]:
filepath= 'iris.json'
json_df=spark.read.json(filepath)

In [25]:
json_df.show()

+---------------+-----------+----------+-----------+----------+-------+
|_corrupt_record|petalLength|petalWidth|sepalLength|sepalWidth|species|
+---------------+-----------+----------+-----------+----------+-------+
|              [|       NULL|      NULL|       NULL|      NULL|   NULL|
|           NULL|        1.4|       0.2|        5.1|       3.5| setosa|
|           NULL|        1.4|       0.2|        4.9|       3.0| setosa|
|           NULL|        1.3|       0.2|        4.7|       3.2| setosa|
|           NULL|        1.5|       0.2|        4.6|       3.1| setosa|
|           NULL|        1.4|       0.2|        5.0|       3.6| setosa|
|           NULL|        1.7|       0.4|        5.4|       3.9| setosa|
|           NULL|        1.4|       0.3|        4.6|       3.4| setosa|
|           NULL|        1.5|       0.2|        5.0|       3.4| setosa|
|           NULL|        1.4|       0.2|        4.4|       2.9| setosa|
|           NULL|        1.5|       0.1|        4.9|       3.1| setosa|
|           NULL|        1.5|       0.2|        5.4|       3.7| setosa|
|           NULL|        1.6|       0.2|        4.8|       3.4| setosa|
|           NULL|        1.4|       0.1|        4.8|       3.0| setosa|
|           NULL|        1.1|       0.1|        4.3|       3.0| setosa|
|           NULL|        1.2|       0.2|        5.8|       4.0| setosa|
|           NULL|        1.5|       0.4|        5.7|       4.4| setosa|
|           NULL|        1.3|       0.4|        5.4|       3.9| setosa|
|           NULL|        1.4|       0.3|        5.1|       3.5| setosa|
|           NULL|        1.7|       0.3|        5.7|       3.8| setosa|
+---------------+-----------+----------+-----------+----------+-------+
only showing top 20 rows

##### Droping the column _corrupted_records

In [29]:
json_df = json_df.drop("_corrupt_record")
json_df.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|       NULL|      NULL|       NULL|      NULL|   NULL|
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

##### Dropping the first row

In [41]:
first_row = json_df.limit(1)
json_df = json_df.subtract(first_row)

json_df.show()

+-----------+----------+-----------+----------+----------+
|petalLength|petalWidth|sepalLength|sepalWidth|   species|
+-----------+----------+-----------+----------+----------+
|        4.5|       1.5|        5.4|       3.0|versicolor|
|        5.5|       2.1|        6.8|       3.0| virginica|
|        1.2|       0.2|        5.0|       3.2|    setosa|
|        5.1|       2.0|        6.5|       3.2| virginica|
|        1.9|       0.4|        5.1|       3.8|    setosa|
|        1.6|       0.6|        5.0|       3.5|    setosa|
|        5.3|       2.3|        6.4|       3.2| virginica|
|        5.1|       1.9|        5.8|       2.7| virginica|
|        1.3|       0.4|        5.4|       3.9|    setosa|
|        4.5|       1.3|        5.7|       2.8|versicolor|
|        5.8|       1.6|        7.2|       3.0| virginica|
|        3.3|       1.0|        4.9|       2.4|versicolor|
|        4.3|       1.3|        6.4|       2.9|versicolor|
|        5.7|       2.3|        6.9|       3.2| virginica|
|        4.7|       1.5|        6.7|       3.1|versicolor|
|        4.4|       1.4|        6.7|       3.1|versicolor|
|        1.5|       0.1|        4.9|       3.1|    setosa|
|        1.5|       0.2|        5.1|       3.4|    setosa|
|        4.2|       1.2|        5.7|       3.0|versicolor|
|        5.2|       2.0|        6.5|       3.0| virginica|
+-----------+----------+-----------+----------+----------+
only showing top 20 rows

In [43]:
df = spark.read.json("json_data.json", multiLine=True)

In [45]:
df.show()

+---+---------------+------------+--------------+------+
|age|     department|is_full_time|          name|salary|
+---+---------------+------------+--------------+------+
| 28|    Engineering|        true|     Ahmed Ali| 80000|
| 32|Human Resources|        true|   Ayesha Khan| 75000|
| 45|        Finance|        true|   Usman Tariq| 90000|
| 29|    Engineering|       false| Fatima Shaikh| 85000|
| 26|      Marketing|        true|Zainab Qureshi| 60000|
| 38|          Sales|        true|      Ali Raza| 70000|
| 41|          Legal|        true|   Mariam Shah| 95000|
| 52|        Finance|       false| Tariq Mehmood|110000|
| 30|    Engineering|        true|   Saima Akram| 82000|
| 34|      Marketing|        true|  Imran Farooq| 67000|
+---+---------------+------------+--------------+------+

In [47]:
df = spark.read.json("json_data.json", multiLine=True)

In [50]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- is_full_time: boolean (nullable = true)
 |-- leave: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [54]:
df = df.select("name","age","department","salary","is_full_time","leave")
df.show()

+--------------+---+---------------+------+------------+-----+
|          name|age|     department|salary|is_full_time|leave|
+--------------+---+---------------+------+------------+-----+
|     Ahmed Ali| 28|    Engineering| 80000|        true| NULL|
|   Ayesha Khan| 32|Human Resources| 75000|        true| NULL|
|   Usman Tariq| 45|        Finance| 90000|        true| NULL|
| Fatima Shaikh| 29|    Engineering| 85000|       false| NULL|
|Zainab Qureshi| 26|      Marketing| 60000|        true| NULL|
|      Ali Raza| 38|          Sales| 70000|        true| NULL|
|   Mariam Shah| 41|          Legal| 95000|        true| NULL|
| Tariq Mehmood| 52|        Finance|110000|       false| NULL|
|   Saima Akram| 30|    Engineering| 82000|        true| NULL|
|  Imran Farooq| 34|      Marketing| 67000|        true|    2|
+--------------+---+---------------+------+------------+-----+