In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=5ea3a5221f528a1eefe6dd503adf562001ef3e02ddcacd03a0741d00ffda4a6b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [ ]:
df = spark.read.csv('/content/sample_data/california_housing_test.csv')
type(df)

pyspark.sql.dataframe.DataFrame

***Reading the dataset***

In [ ]:
spark.read.option('header', 'true').csv('/content/sample_data/california_housing_test.csv').show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

In [ ]:
# Checking the schema
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)

In [ ]:
df.show(10)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 10 rows

In [ ]:
df.head(5)

[Row(_c0='longitude', _c1='latitude', _c2='housing_median_age', _c3='total_rooms', _c4='total_bedrooms', _c5='population', _c6='households', _c7='median_income', _c8='median_house_value'),
 Row(_c0='-122.050000', _c1='37.370000', _c2='27.000000', _c3='3885.000000', _c4='661.000000', _c5='1537.000000', _c6='606.000000', _c7='6.608500', _c8='344700.000000'),
 Row(_c0='-118.300000', _c1='34.260000', _c2='43.000000', _c3='1510.000000', _c4='310.000000', _c5='809.000000', _c6='277.000000', _c7='3.599000', _c8='176500.000000'),
 Row(_c0='-117.810000', _c1='33.780000', _c2='27.000000', _c3='3589.000000', _c4='507.000000', _c5='1484.000000', _c6='495.000000', _c7='5.793400', _c8='270500.000000'),
 Row(_c0='-118.360000', _c1='33.820000', _c2='28.000000', _c3='67.000000', _c4='15.000000', _c5='49.000000', _c6='11.000000', _c7='6.135900', _c8='330000.000000')]

In [ ]:
df.columns

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7', '_c8']

**Changing column names**

In [ ]:
original_columns = ['longitude','latitude', 'housing_median_age','total_rooms','total_bedrooms','population', 'households','median_income', 'median_house_value']
df= df.toDF(*original_columns)

**After changing column names**

In [ ]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
type(df.select(['longitude', 'latitude']))

pyspark.sql.dataframe.DataFrame

In [ ]:
df['latitude']

Column<'latitude'>

In [ ]:
df.dtypes

[('longitude', 'string'),
 ('latitude', 'string'),
 ('housing_median_age', 'string'),
 ('total_rooms', 'string'),
 ('total_bedrooms', 'string'),
 ('population', 'string'),
 ('households', 'string'),
 ('median_income', 'string'),
 ('median_house_value', 'string')]

In [ ]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3001|              3001|              3001|             3001|              3001|              3001|              3001|              3001|              3001|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|        -114.490000|         32.560000|          1.000000|      1000.000000|        100.000000|        100.000000|         10.000000|          0.499900|     100000.000000|
|    max|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [ ]:
#Adding a column in a data frame.
from pyspark.sql.functions import round
df.withColumn('median_house_value_round of', round(df['median_house_value']))

DataFrame[longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string, median_house_value_round of: double]

In [ ]:
first_row = df.limit(1)
df = df.exceptAll(first_row)

df.show()

+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+---------------------------+
|  longitude| latitude|housing_median_age| total_rooms|total_bedrooms| population| households|median_income|median_house_value|median_house_value_round of|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+---------------------------+
|-119.980000|38.940000|         23.000000| 1564.000000|    298.000000| 339.000000| 147.000000|     4.041700|      99300.000000|                    99300.0|
|-122.270000|37.800000|         39.000000| 1715.000000|    623.000000|1327.000000| 467.000000|     1.847700|     179200.000000|                   179200.0|
|-118.080000|34.140000|         45.000000| 2923.000000|    604.000000|1903.000000| 560.000000|     3.172900|     218700.000000|                   218700.0|
|-117.070000|32.790000|         25.000000| 2489.000000|    314.000000| 911.000000| 309.000000|     7.833600|     277600.000000|                   277600.0|
|-117.930000|33.780000|         28.000000| 4380.000000|    820.000000|2187.000000| 835.000000|     3.901800|     182300.000000|                   182300.0|
|-118.210000|33.930000|         39.000000|  354.000000|     73.000000| 184.000000|  58.000000|     2.767900|     108900.000000|                   108900.0|
|-122.040000|36.980000|         51.000000| 1076.000000|    206.000000| 495.000000| 201.000000|     2.928600|     258300.000000|                   258300.0|
|-118.390000|34.080000|         27.000000| 6605.000000|   1710.000000|2665.000000|1520.000000|     3.808800|     500001.000000|                   500001.0|
|-121.460000|38.610000|         43.000000| 1111.000000|    269.000000| 613.000000| 290.000000|     1.291700|      66300.000000|                    66300.0|
|-117.210000|32.740000|         45.000000| 3025.000000|    583.000000|1980.000000| 550.000000|     2.298200|      87500.000000|                    87500.0|
|-119.750000|36.870000|          3.000000|13802.000000|   2244.000000|5226.000000|1972.000000|     5.094100|     143700.000000|                   143700.0|
|-122.050000|37.370000|         27.000000| 3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|                   344700.0|
|-118.210000|33.960000|         48.000000|  284.000000|    104.000000| 422.000000| 119.000000|     1.282600|     145500.000000|                   145500.0|
|-122.530000|37.950000|         22.000000| 7446.000000|   1979.000000|2980.000000|1888.000000|     3.583800|     271300.000000|                   271300.0|
|-121.280000|38.670000|         29.000000| 1087.000000|    174.000000| 430.000000| 174.000000|     4.362500|     158800.000000|                   158800.0|
|-121.320000|36.420000|         20.000000| 1054.000000|    269.000000|1219.000000| 273.000000|     3.043700|      76600.000000|                    76600.0|
|-117.830000|33.660000|         16.000000| 1574.000000|    385.000000| 515.000000| 363.000000|     5.342300|     291700.000000|                   291700.0|
|-120.980000|37.590000|          2.000000| 5042.000000|    834.000000|2784.000000| 787.000000|     4.648400|     145900.000000|                   145900.0|
|-118.410000|33.990000|         39.000000| 3014.000000|    822.000000|3212.000000| 777.000000|     1.198500|     215000.000000|                   215000.0|
|-122.270000|37.510000|         36.000000| 1406.000000|    224.000000| 598.000000| 237.000000|     5.896400|     414800.000000|                   414800.0|
+-----------+---------+------------------+------------+--------------+-----------+-----------+-------------+------------------+---------------------------+
only showing top 20 rows