In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Creating-Dataframe").getOrCreate()

In [7]:
from datetime import datetime, date
from pyspark.sql import Row

In [17]:
df = spark.createDataFrame([
    Row(1,'Abdul Basit', date(2003,9, 14), datetime(2003, 9,14, 12, 2)),
    Row(2,'Sumair Ali', date(2004, 2, 1), datetime(2004, 1, 2, 9, 5)),
    Row(3,'Sachal Sahito', date(2001, 3, 1), datetime(2001, 1, 3, 2, 0))
], schema= ['id', 'name','date', 'dateTime'])
df

DataFrame[id: bigint, name: string, date: date, dateTime: timestamp]

In [19]:
df.show()

+---+-------------+----------+-------------------+
| id|         name|      date|           dateTime|
+---+-------------+----------+-------------------+
|  1|  Abdul Basit|2003-09-14|2003-09-14 12:02:00|
|  2|   Sumair Ali|2004-02-01|2004-01-02 09:05:00|
|  3|Sachal Sahito|2001-03-01|2001-01-03 02:00:00|
+---+-------------+----------+-------------------+

In [21]:
df.columns

['id', 'name', 'date', 'dateTime']

In [24]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- date: date (nullable = true)
 |-- dateTime: timestamp (nullable = true)

In [26]:
df.show(3,vertical=True)

-RECORD 0-----------------------
 id       | 1
 name     | Abdul Basit
 date     | 2003-09-14
 dateTime | 2003-09-14 12:02:00
-RECORD 1-----------------------
 id       | 2
 name     | Sumair Ali
 date     | 2004-02-01
 dateTime | 2004-01-02 09:05:00
-RECORD 2-----------------------
 id       | 3
 name     | Sachal Sahito
 date     | 2001-03-01
 dateTime | 2001-01-03 02:00:00

In [30]:
first_row = df.filter(df.id==1)
first_row.show()

+---+-----------+----------+-------------------+
| id|       name|      date|           dateTime|
+---+-----------+----------+-------------------+
|  1|Abdul Basit|2003-09-14|2003-09-14 12:02:00|
+---+-----------+----------+-------------------+

In [35]:
df.createOrReplaceTempView("friends")
sqlDF= spark.sql("SELECT * FROM friends")
sqlDF.show()

+---+-------------+----------+-------------------+
| id|         name|      date|           dateTime|
+---+-------------+----------+-------------------+
|  1|  Abdul Basit|2003-09-14|2003-09-14 12:02:00|
|  2|   Sumair Ali|2004-02-01|2004-01-02 09:05:00|
|  3|Sachal Sahito|2001-03-01|2001-01-03 02:00:00|
+---+-------------+----------+-------------------+