In [1]:
from pyspark.sql import SparkSession

In [12]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
from datetime import datetime

In [4]:
spark = SparkSession.builder.appName("dateTimeFormat").getOrCreate()

24/09/04 01:15:23 WARN Utils: Your hostname, abdul-basit-HP-ProBook-450-G8-Notebook-PC resolves to a loopback address: 127.0.1.1; using 10.11.16.128 instead (on interface wlp0s20f3)
24/09/04 01:15:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/04 01:15:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/04 01:15:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
schema = StructType([
    StructField("InvoiceNo", StringType(), True),
    StructField("StockCode", StringType(), True),
    StructField("Description", StringType(), True),
    StructField("Quantity", IntegerType(), True),
    StructField("InvoiceDate", TimestampType(), True),
    StructField("UnitPrice", DoubleType(), True),
    StructField("CustomerID", DoubleType(), True),
    StructField("Country", StringType(), True)
])

In [13]:
data = [
    ("536365", "85123A", "White Hanging Heart", 6, datetime(2023, 9, 1, 10, 0, 0), 2.55, 17850.0, "United Kingdom"),
    ("536365", "71053", "White Metal Lantern", 6, datetime(2023, 9, 1, 10, 0, 0), 3.39, 17850.0, "United Kingdom"),
    ("536366", "84406B", "Cream Cupid Hearts Coat Hanger", 8, datetime(2023, 9, 1, 10, 5, 0), 2.75, 13047.0, "United Kingdom"),
    ("536367", "84029G", "Knitted Union Flag Hot Water Bottle", 6, datetime(2023, 9, 1, 10, 10, 0), 3.39, 12583.0, "United Kingdom"),
    ("536367", "84029E", "Red Woolly Hottie White Heart.", 6, datetime(2023, 9, 1, 10, 10, 0), 3.39, 12583.0, "United Kingdom"),
    ("536368", "84378", "White Hanging Heart T-Light Holder", 6, datetime(2023, 9, 1, 10, 15, 0), 2.95, 15311.0, "United Kingdom"),
    ("536369", "82494L", "White Hanging Heart", 5, datetime(2023, 9, 1, 10, 20, 0), 2.55, 17548.0, "United Kingdom"),
    ("536370", "85123B", "Assorted Colour Bird Ornament", 32, datetime(2023, 9, 1, 10, 25, 0), 1.69, 13263.0, "United Kingdom"),
    ("536371", "85167B", "Cream Hanging Heart T-Light Holder", 6, datetime(2023, 9, 1, 10, 30, 0), 2.75, 17850.0, "United Kingdom"),
    ("536372", "84030E", "Hand Warmer Union Jack", 6, datetime(2023, 9, 1, 10, 35, 0), 3.39, 12583.0, "United Kingdom")
]

In [15]:
df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A| White Hanging Heart|       6|2023-09-01 10:00:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| White Metal Lantern|       6|2023-09-01 10:00:00|     3.39|   17850.0|United Kingdom|
|   536366|   84406B|Cream Cupid Heart...|       8|2023-09-01 10:05:00|     2.75|   13047.0|United Kingdom|
|   536367|   84029G|Knitted Union Fla...|       6|2023-09-01 10:10:00|     3.39|   12583.0|United Kingdom|
|   536367|   84029E|Red Woolly Hottie...|       6|2023-09-01 10:10:00|     3.39|   12583.0|United Kingdom|
|   536368|    84378|White Hanging Hea...|       6|2023-09-01 10:15:00|     2.95|   15311.0|United Kingdom|
|   536369|   82494L| White Hanging Heart|       5|2023-09-01 10:20:00|     2.55|   17548.0|United Kingdom|
|   536370|   85123B|Assorted Colour B...|      32|2023-09-01 10:25:00|     1.69|   13263.0|United Kingdom|
|   536371|   85167B|Cream Hanging Hea...|       6|2023-09-01 10:30:00|     2.75|   17850.0|United Kingdom|
|   536372|   84030E|Hand Warmer Union...|       6|2023-09-01 10:35:00|     3.39|   12583.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+

In [16]:
from pyspark.sql.functions import current_date, current_timestamp
dateDF = spark.range(10)\
.withColumn("today", current_date())\
.withColumn("now", current_timestamp())
dateDF.createOrReplaceTempView("dateTable")

In [22]:
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

In [25]:
from pyspark.sql.functions import date_add, date_sub, col

In [26]:
dateDF.select(date_sub(col("today"), 5), date_add(col("today"), 5)).show(1)

+------------------+------------------+
|date_sub(today, 5)|date_add(today, 5)|
+------------------+------------------+
|        2024-08-30|        2024-09-09|
+------------------+------------------+
only showing top 1 row